### Задание

Имеются данные adult.csv (см. в материалах к занятию).
Целевой переменной является уровень дохода income (крайний правый столбец).

Описание признаков можно найти по ссылке www.cs.toronto.edu...etail.html

#### Вам необходимо построить модели логистической регрессии и SVM, которые предсказывают уровень дохода человека.

Вывести качество полученных моделей на тестовой выборке, используя функцию score у модели.

Готовый ноутбук выложить на гитхаб и прислать ссылку.

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('adult.csv')

In [3]:
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native-country,class
0,2,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,1,0,2,United-States,<=50K
1,3,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,0,United-States,<=50K
2,2,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,2,United-States,<=50K
3,3,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,2,United-States,<=50K
4,1,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,2,Cuba,<=50K

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             48842 non-null  int64
 1   workclass       46043 non-null  object
 2   fnlwgt          48842 non-null  int64
 3   education       48842 non-null  object
 4   education-num   48842 non-null  int64
 5   marital-status  48842 non-null  object
 6   occupation      46033 non-null  object
 7   relationship    48842 non-null  object
 8   race            48842 non-null  object
 9   sex             48842 non-null  object
 10  capitalgain     48842 non-null  int64
 11  capitalloss     48842 non-null  int64
 12  hoursperweek    48842 non-null  int64
 13  native-country  47985 non-null  object
 14  class           48842 non-null  object
dtypes: int64(6), object(9)
memory usage: 5.6+ MB

In [5]:
data = data.dropna()

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45222 entries, 0 to 48841
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             45222 non-null  int64
 1   workclass       45222 non-null  object
 2   fnlwgt          45222 non-null  int64
 3   education       45222 non-null  object
 4   education-num   45222 non-null  int64
 5   marital-status  45222 non-null  object
 6   occupation      45222 non-null  object
 7   relationship    45222 non-null  object
 8   race            45222 non-null  object
 9   sex             45222 non-null  object
 10  capitalgain     45222 non-null  int64
 11  capitalloss     45222 non-null  int64
 12  hoursperweek    45222 non-null  int64
 13  native-country  45222 non-null  object
 14  class           45222 non-null  object
dtypes: int64(6), object(9)
memory usage: 5.5+ MB

In [7]:
from sklearn.linear_model import LogisticRegression

In [8]:
# проверяем какие значения встречаются в колонках (категориальные нечисловые необходимо перевести в числовые)
data['class'].unique()

array(['<=50K', '>50K'], dtype=object)

In [9]:
selectedColumns = data [['age', 'workclass','fnlwgt', 'education', 'education-num', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'capitalgain', 'capitalloss', 'hoursperweek', 'native-country']]

In [10]:
selectedColumns

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native-country
0,2,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,1,0,2,United-States
1,3,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,0,United-States
2,2,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,2,United-States
3,3,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,2,United-States
4,1,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,2,Cuba
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48836,1,Private,245211,Bachelors,13,Never-married,Prof-specialty,Own-child,White,Male,0,0,2,United-States
48837,2,Private,215419,Bachelors,13,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,2,United-States
48839,2,Private,374983,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,3,United-States
48840,2,Private,83891,Bachelors,13,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,2,0,2,United-States
48841,1,Self-emp-inc,182148,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,3,United-States

In [11]:
X = pd.get_dummies (selectedColumns, columns = ['workclass','education','marital-status','occupation','relationship','race','sex','native-country'])

In [12]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45222 entries, 0 to 48841
Columns: 104 entries, age to native-country_Yugoslavia
dtypes: int64(6), uint8(98)
memory usage: 6.6 MB

In [13]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [14]:
le.fit( data['class'])

LabelEncoder()

In [15]:
le.classes_

array(['<=50K', '>50K'], dtype=object)

In [16]:
le.transform( ['<=50K', '>50K', '<=50K']) # пример расшифровки

array([0, 1, 0])

In [17]:
le.inverse_transform([1, 0, 1])

array(['>50K', '<=50K', '>50K'], dtype=object)

In [18]:
# записываем в таргетную переменную y преобразованный столбец class
y = pd.Series (data = le.transform(data['class']))
y.head()

0    0
1    0
2    0
3    0
4    0
dtype: int32

## Создание модели логистической регресии

In [19]:
from sklearn.pipeline import make_pipeline # используем пайплайны для удобства
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

- модель с нормализацией

In [20]:
model = make_pipeline(StandardScaler(), LogisticRegression(max_iter=1000)) # нормализация данных дает хороший результат + 10%

- модель без нормализации

In [21]:
# model = LogisticRegression() # берем в качестве модели логистическую регресиию из scikit-learn

- обучение модели

In [22]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [23]:
# обучаем на части датасета (train)

model.fit(X_train, y_train)
predictions = model.predict(X_test)

In [24]:
predictions[:5] # посмотрим как выглядят наши предсказания

array([1, 0, 0, 0, 0])

In [25]:
model.predict(X_test) # получаем массив

array([1, 0, 0, ..., 0, 0, 0])

In [26]:
model.predict_proba(X_test) #

array([[0.23865805, 0.76134195],
       [0.93770459, 0.06229541],
       [0.87925192, 0.12074808],
       ...,
       [0.70250629, 0.29749371],
       [0.65200389, 0.34799611],
       [0.67811998, 0.32188002]])

In [27]:
model.score(X_train, y_train)

0.847417469594061

In [28]:
model.score(X_test,y_test)

0.8505933515147048

## Содание модели SVM

In [29]:
from sklearn.svm import SVC
# используем пайплайны
clf = make_pipeline(StandardScaler(), SVC(gamma='auto')) 
clf.fit(X_train, y_train)

Pipeline(steps=[('standardscaler', StandardScaler()),
                ('svc', SVC(gamma='auto'))])

In [30]:
clf.score(X_train, y_train)

0.8579055441478439

In [31]:
clf.score(X_test, y_test)

0.8488243532099948